# Auto detect text files and perform LF normalization
* text=auto
*.framework filter=lfs diff=lfs merge=lfs -text
*.xcframework filter=lfs diff=lfs merge=lfs -text
Sources/PaylessWoza.xcframework/ios-arm64_x86_64-simulator/PaylessWoza.framework/Frameworks/MobileVLCKit.framework/MobileVLCKit filter=lfs diff=lfs merge=lfs -text
Sources/PaylessWoza.xcframework/ios-arm64/PaylessWoza.framework/Frameworks/MobileVLCKit.framework/MobileVLCKit filter=lfs diff=lfs merge=lfs -text
